
/* Empty. Add your own CSS if you like*/
	body {
	font-family:YouYuan;
}
.mid {
	align-content :center ;
	text-align :center ;
}
.bar.bar-health {
	border-color: #3FB869;
	background-color: white ;
	background-image: linear-gradient(0deg, #28a54c, #28a54c 50%, transparent 50%);
	color: #3FB869;
}
.bar.bar-health.title {
	color: #3FB869;
	text-align :left
}
.bar.bar-health.bar-footer {
	background-image: linear-gradient(180deg, #28a54c, #0c63ee 50%, transparent 50%);
}
.tabs-striped.tabs-color-balanced .tab-item {
	color: rgba(51, 205, 95, 0.4);
	opacity: 1;
}
.tabs-striped.tabs-color-balanced .tab-item .badge {
	opacity: 0.4;
}
.tabs-striped.tabs-color-balanced .tab-item.tab-item-active, .tabs-striped.tabs-color-balanced .tab-item.active, .tabs-striped.tabs-color-balanced .tab-item.activated {
	margin-bottom: -2px;
	color: #33cd5f;
	border: 0 solid #33cd5f;
	border-bottom-width: 2px;
}
.tabs-striped.tabs-color-balanced .tab-item.tab-item-active .badge, .tabs-striped.tabs-color-balanced .tab-item.active .badge, .tabs-striped.tabs-color-balanced .tab-item.activated .badge {
	top: 2px;
	opacity: 1;
}
.tabs-striped.tabs-color-balanced .tab-item.tab-item-active, .tabs-striped.tabs-color-balanced .tab-item-linedown.activated {
	margin-top: 0px;
	border-top-width :0px;
	border-style: solid;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	color: #33CD5F;
	border-color: #33CD5F;
	border-bottom-width :2px;
}
.background {
	background :#f0f0f0;
}
.headsearch {
	background: #79ce97 none repeat scroll ;
	border-radius: 15px;
}
.rowline {
	padding :0;
	height:auto;
	
	width :100%;
}
/* collapse---bootstrap*/
	.collapse {
	display:none;
	width:100%;
	visibility:hidden;
}
.collapse.in {
	width:100%;
	display:block;
	visibility:visible;
}
tr.collapse.in {
	width:100%;
}
a,a:link,a:link:hover,a:hover {
	text-decoration :none ;
}
.linkblk {
	color: black;
}
.linkbgre {
	color: #3FB869;
}
.collapse.in {
	width:100%;
}
.collapsing {
	position:relative;
	height:0;
	width:100%;
	overflow:hidden;
	display:block;
	-webkit-transition-timing-function:ease;
	-o-transition-timing-function:ease;
	transition-timing-function:ease;
	-webkit-transition-duration:.35s;
	-o-transition-duration:.35s;
	transition-duration:.35s;
	-webkit-transition-property:height,visibility;
	-o-transition-property:height,visibility;
	transition-property:height,visibility;
}
.bar {
	border:none;
}
.headcontent {
	color :white;
}
.borderdown-thin {
	border-bottom-style :solid ;
	border-bottom-color :white ;
	border-bottom-width :1px;
}
.borderdown-thick {
	border-bottom-style :solid ;
	border-bottom-color :white ;
	border-bottom-width :3px;
}
/*-------------paddingstyle/marginstyle---------*/
.no-padding-top{
    padding-top:0px;

}
.no-margin{
    margin:0px;

}
.margin-lr10{
    margin-left:10px;
    margin-right:10px;
}
.margin-lr15{
    margin-left:15px;
    margin-right:15px;
}
.marginBottom0 {
  margin-bottom: 0;
}
.marginTop0 {
  margin-top: 0;
}
.marginTop5 {
  margin-top: 5px !important;
}
.marginTop10 {
  margin-top: 10px !important;
}
.marginTop15 {
  margin-top: 15px !important;
}
.marginBottom5 {
  margin-bottom: 5px;
}
.marginBottom15 {
  margin-bottom: 15px;
}
.marginBottom10 {
  margin-bottom: 10px;
}
.paddingTop5 {
 padding-top: 5px !important;
}
/*-------------colstyle---------*/
	.col-title {
	margin-left :-15px;
	margin-right :20px;
}
.row-title {
	margin-left :-5px;
	margin-right :10px;
}
.list-thin{
    display: flex;
    padding:5px;
        border-color: #ddd;
    background-color: #fff;
    color: #444;
    position: relative;
    z-index: 2;
    
    margin: -1px;
    
    border-width: 1px;
    border-style: solid;
    font-size: 14px;
}
.select-thin{
    display: flex;
     justify-content:center;text-align:center;
    padding:5px;
    
    background-color: #fff;
    color: #444;
    position: relative;
    z-index: 5;
 
   border-bottom:1px solid #ddd;
    font-size: 14px;
}
.select-thin.active { 
    background-color: #3FB869 ;
     color: #fff;
     border-bottom:1px solid #3FB869;
}
/* --------fontstyle/colorstyle--------*/
.s-font{font-size:12px;

}
.m-font{font-size:14px;

}
.l-font{font-size:16px;

}
.xl-font{font-size:18px;}
.bold{
    font-weight:bold;
}
.normal{ 
    font-weight:normal;}
.icon-font{font-size:20px;

}
	.green {
	color :#3FB869 ;}
    .violet{
	color :#8F82BC ;
} .yellow{
     color:#F4AD49;
      
    }
.rose {
    color: #db5565;

}
.gray {
    color: #969696;
}

  .red{
      color:#DB5565;
      
    }
.blue {
    color: #0BACD3;
}
  .green-bg {
	background-color :#3FB869 ;
    color:#fff;
  }
   .red-bg{
     background-color :#DB5565;
      
    }
     .yellow-bg{
     background-color:#F4AD49;
      
    }


    .food-red{
        background-color:#DB5565;
        color:#FFF;
       
    }
   
   .food-yellow{
        background-color:#F4AD49;
        color:#FFF;
    }
    .food-green{
       background-color:#47A877;
        color:#FFF;

    }
    .food-blue{
         background-color:#0BACD3;
        color:#FFF;
    }
    .food-violet{
         background-color:#8F82BC;
        color:#FFF;
    }
    .food-tag-red ,.food-tag-yellow,.food-tag-green ,.food-tag-blue,.food-tag-violet {height: 0;
                                                                                      width: 0;
                                                                                      margin-top:18px;
                                                                                      border: 7px solid transparent;
                                                                                      border-left: 7px solid white;
}
       .food-tag-red{border-left-color: #DB5565;
}
       .food-tag-yellow{

  border-left-color: #F4AD49;
}
       .food-tag-green {

  border-left-color:#47A877;
}
       .food-tag-blue {

 border-left-color: #0BACD3;
}
        .food-tag-violet {
border-left-color:#8F82BC;
}
    /* --------foodstyle--------*/
    .foodtab{
        padding:15px 10px 20px 10px;
    }
     .food-1-title::before, .food-2-title::before, .food-3-title::before, .food-4-title::before, .food-5-title::before{
      position:absolute;
        font-size:50px;
       right:20%;
        color: rgba(255, 255, 255,0.4);
        }
    .food-1-title::before{
        content: '01';
    }
    .food-2-title::before{
        content: '02';
    }
      .food-3-title::before {
    content: '03';
}
      .food-4-title::before {
    content: '04';
}
      .food-5-title::before {
    content: '05';
}
   
    /* --------evaluation--------*/
    .evaluation-head{
        padding:0 10px;
        margin:5px;
        width:100%
    }
    .evaluation{
       font-size:14px;
        margin:0 10px 0 10px;
        padding:0 5px 0 5px;
    }
     .evaluation-line{
       padding:10px 0 10px 0;
    }
    .evaluation-row{
       padding-left:15px;
    }
    /* --------borderstyle--------*/
    .dash-bordergray{ border-bottom:1px dashed #ddd;
}
    .no-border{
        border:none;
    }
    .gray-border-bottom{
    border-bottom:1px solid #ddd;
}
   .gray-border-top{
    border-top:1px solid #ddd;
}
   .evaluation-border-row{
       border-right: 1px dashed rgba(63, 184, 105,0.2);
   }
   .border
   .left-blue {
	border-left-color :#160a81;
	border-left-style :solid ;
	border-left-width :5px;
    color:black;
	padding-left :5px;
}
   .left-green {
	border-left-color :#79ce97;
	border-left-style :solid ;
	border-left-width :5px;
	color:black;
	padding-left :5px;
}   .left-rose {
	border-left-color :#db5565;
	border-left-style :solid ;
	border-left-width :5px;
	color:black;
	padding-left :5px;
}
.left-gray {
    border-left-color: #969696;
    border-left-style: solid;
    border-left-width: 5px;
    padding-left: 5px;
    color: #969696;
}
.green-border-radius{
    border :1px solid #79ce97;
    border-radius:3px;
}
     /* --------sporttabstyle--------*/
     .tab-sport{ 
         margin-top:-1px;
         color: rgba(51, 205, 95, 0.4); 
         border: 0 solid #33cd5f;
         background-color:#fff;
         border-width:0px 0px 0px 0px !important;
         vertical-align:middle; 
         text-align: center;
         border-top-width: 2px;
         height:48px;
         line-height:48px;
         border-bottom-color:#ddd;
         border-width:0px 0px 1px 0px !important; 
     }
     .tab-sport.active{
          color: #33cd5f;
          border-bottom-color:#33cd5f;
         border-width:0px 0px 3px 0px !important;  }

/*-------------foodselectmodal---------*/


.calculator{padding-top:2px;
            margin-bottom:5px;
   vertical-align:middle;
    border-top:1px solid #ddd;
     border-right:0.5px solid #ddd;
     
}


/* --------tagstyle--------*/
	.booksubhead {
	background-color :#969696;
	border :none ;
}
.tag-head {
	background-color :white ;
	margin :2px;
	padding :3px;
	border-radius :3px;
	margin-left :7px;
	margin-right :7px;
	color :#969696 ;
	align-content :center ;
	text-align :center ;
	vertical-align :middle ;
	font-size:12px;
}
.tag-head.active {
	background-color :#bdbcbc ;
	margin :2px;
	padding :3px;
	border-radius :3px;
	margin-left :7px;
	margin-right :7px;
	color :#969696 ;
	align-content :center ;
	text-align :center ;
	vertical-align :middle ;
}
.tag-blue {
	background-color :#589FEF ;
	margin :3px;
	border-radius :7px;
	color :white ;
	align-content :center ;
	text-align :center ;
	vertical-align :middle ;
	font-size:12px;
}
.tag-red {
	background-color :#F05C5C;
	margin :3px;
	border-radius :7px;
	color :white ;
	align-content :center ;
	text-align :center ;
	vertical-align :middle ;
	font-size:12px;
}
.tag-green {
	background-color :#3FB869 ;
	margin :3px;
	border-radius :7px;
	color :white ;
	align-content :center ;
	text-align :center ;
	vertical-align :middle ;
	font-size:12px;
}
.tag-greenwhite {
	background-color :white ;
	border :1px solid #3FB869;
	padding :3px;
    margin:0 3px 0 3px;
	border-radius :7px;
	color :#3FB869 ;
	align-content :center ;
	text-align :center ;
	vertical-align :middle ;
	font-size:12px;
}
item-radio:active {
	background-color :#3FB869;
	color :white ;
}
.tag-aim {
	background-color:#fff;
	border-radius:15px;
	padding-right:5px;
	padding-left:5px;
	margin-left:5px;
	margin-right:5px;
	font-size:12px;
	color :#3FB869;
}
.tag-sportadd {
	background-color:#3FB869;
	border-radius:15px;
	padding-right:10px;
	padding-left:10px;
	margin-left:10px;
	margin-right:10px;
	font-size:20px;
	color :#fff;
}


.tag-evaluation-triangleup{
    width:0;
    height:0;
    border-width:0 5px 5px;
    border-style:solid;
    border-color:transparent transparent #33cd5f;/*透明 透明 绿 balanced*/
    margin:0 auto;
    position:relative;
}
.tag-evaluation{border-radius:5px;
    background-color:#33cd5f;/*balanced*/
    justify-content:center;
    width:25%;
    margin-bottom:5px;
    padding:5px  0  5px 0;
    position:relative;
    color:#fff;
}
/*------ nutri-data---*/
	.nutri {
	display: flex;
	padding-left : 5px;
	padding-right : 5px;
	width: 100%;
}
/*-----------checkbox&radio----------*/
	.gender {
	padding-top:8px;
	padding-bottom:8px;
}
.aimcheck {
	border : 1px solid #3FB869;
	border-radius :7px;
	padding:5px;
    display:block;
	position:relative;
	min-height:1px;
	float:left;
	font-size :14px;
    margin :5px;
    align-content :center ;
    text-align :center;
    width :28%
}
.aimcheckactive {
	background :  #3FB869;
    color:#fff;
	border-radius :7px;
	padding:5px;
    display:block;
	position:relative;
	min-height:1px;
	float:left;
	font-size :14px;
    margin :5px;
    align-content :center ;
    text-align :center;
    width :28%
}
/* line style----bootstrap*/
	.col-xs-12 {
	width:100%
}
.col-xs-11 {
	width:91.66666667%
}
.col-xs-10 {
	width:83.33333333%
}
.col-xs-9 {
	width:75%
}
.col-xs-8 {
	width:66.66666667%
}
.col-xs-7 {
	width:58.33333333%
}
.col-xs-6 {
	width:50%
}
.col-xs-5 {
	width:41.66666667%
}
.col-xs-4 {
	width:33.33333333%
}
.col-xs-3 {
	width:25%
}
.col-xs-2 {
	width:16.66666667%
}
.col-xs-1 {
	width:8.33333333%
}
.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9 {
	position:relative;
	min-height:1px;
	float:left
}
 .col-xs-offset-12 {
	margin-left:100%
}
.col-xs-offset-11 {
	margin-left:91.66666667%
}
.col-xs-offset-10 {
	margin-left:83.33333333%
}
.col-xs-offset-9 {
	margin-left:75%
}
.col-xs-offset-8 {
	margin-left:66.66666667%
}
.col-xs-offset-7 {
	margin-left:58.33333333%
}
.col-xs-offset-6 {
	margin-left:50%
}
.col-xs-offset-5 {
	margin-left:41.66666667%
}
.col-xs-offset-4 {
	margin-left:33.33333333%
}
.col-xs-offset-3 {
	margin-left:25%
}
.col-xs-offset-2 {
	margin-left:16.66666667%
}
.col-xs-offset-1 {
	margin-left:8.33333333%
}
.gap {
	padding-right:15px;
	padding-left:15px;
}
	/* listboard*/
	
.listitem.active {
	color :#F05C5C;
}

.startbar.active {
	border-bottom:none;
}
.listtop {
	border-bottom-color :#ddd;
	border-bottom-style :solid ;
	border-bottom-width :1px
}
.listtop.active {
	border :none
}
.listboard {
	width :100%;
	margin-bottom :10px;
	margin-top :5px;
	background-color :white ;
}
.listboard-head {
	width :100%;
	padding-top :8px;
	padding-bottom :8px;
	padding-left :15px;
	padding-right :15px;
	border-bottom-color :#ddd;
	border-bottom-style :solid ;
	border-bottom-width :1px;
}
.listboard-body {
	width :100%;
	padding-top :8px;
	padding-bottom :8px;
	padding-left :15px;
	padding-right :15px;
	height :auto ;
}
.icon-right {
	right: 3px;
	float :right
}

.canteen {
	border-bottom :solid grey 1px;
	background:white;
}
.canteen-head {
	padding-left:10px;
	padding-right:10px;
	padding-top :20px;
	padding-bottom:5px;
	width :100%;
}

.canteen-button {
    border-color:transparent;
    background: none;
    box-shadow: none;
    color: #33cd5f;
    transition: opacity 0.1s;
    max-height: 42px;
    padding-top:10px;
    padding-bottom:10px;
    display: block;
    white-space:nowrap;
    min-width :25%;
    margin:3px 0px 2px 0px
}
   .canteen-button.active{ 
        border-radius:5px;
    background-color: #33cd5f;
    color: #fff;}
.canteenbar {
	border-right-width:2px;
	border-style :solid;
	border-color:#3fb869;
	margin:5px;
	font-size:14px;
}
.booktab {
	border-bottom :solid grey 1px;
	padding:5px;
	height :42px;
	background:#ebebeb;
	align-content :center;
	text-align:center;
	vertical-align :middle;
}
.booktab.active {
	background:white;
	border-left :solid #3fb869 3px;
	color : #3fb869 ;
}
.foodtab.active {
	background:#ddd;
}
/*-----------------------shape-------------*/
	.trapezoid-1 {
	height: 0;
	width: 120px;
	border-bottom: 30px solid #99CC99;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
}
.trapezoid-2 {
	height: 0;
	width: 180px;
	border-bottom: 30px solid #CCFF99;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
}
.trapezoid-3 {
	height: 0;
	width: 240px;
	border-bottom: 30px solid #CCFF66;
	border-left: 30px solid transparent;
	border-right:30px solid transparent;
}
.triangle-up {
	height: 0;
	width: 0;
	border: 30px solid #99CC66;
	border-color: transparent transparent #99CC66 transparent;
}
.triangle-up-xs{
	height: 0;
	width: 0;
	border: 20px solid #fff;
	border-color: transparent transparent #fff transparent;
}
.triangle_border_up{
    width:0;
    height:0;
    border-width:0 16px 16px;
    border-style:solid;
    border-color:transparent transparent #969696;/*透明 透明  灰*/
    margin:10px auto;
    position:relative;
}
.triangle_border_up span{
    display:block; 
    width:0; 
    height:0; 
    border-width:0 15px 15px; 
    border-style:solid; 
    border-color:transparent transparent #fff;/*透明 透明  白*/
    position:absolute; 
    top:1px; 
    left:-15px;
}
/* ----------bootstrap nav-bar-------------
.nav {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}
.nav > li {
	position: relative;
	display: block;
}
.nav > li > a {
	position: relative;
	display: block;
	padding: 10px 15px;
}
.nav > li > a:hover,
.nav > li > a:focus {
	text-decoration: none;
	background-color: #eee;
}
.nav > li.disabled > a {
	color: #777;
}
.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
	color: #777;
	text-decoration: none;
	cursor: not-allowed;
	background-color: transparent;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
	background-color: #eee;
	border-color: #337ab7;
}
.nav .nav-divider {
	height: 1px;
	margin: 9px 0;
	overflow: hidden;
	background-color: #e5e5e5;
}
.nav > li > a > img {
	max-width: none;
}
.nav-tabs {
	border-bottom: 1px solid #ddd;
}
.nav-tabs > li {
	float: left;
	margin-bottom: -1px;
}
.nav-tabs > li > a {
	margin-right: 2px;
	line-height: 1.42857143;
	border: 1px solid transparent;
	border-radius: 4px 4px 0 0;
}
.nav-tabs > li > a:hover {
	border-color: #eee #eee #ddd;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
	color: #555;
	cursor: default;
	background-color: #fff;
	border: 1px solid #ddd;
	border-bottom-color: transparent;
}
.nav-tabs.nav-justified {
	width: 100%;
	border-bottom: 0;
}
.nav-tabs.nav-justified > li {
	float: none;
}
.nav-tabs.nav-justified > li > a {
	margin-bottom: 5px;
	text-align: center;
}
.nav-tabs.nav-justified > .dropdown .dropdown-menu {
	top: auto;
	left: auto;
}
.nav-tabs.nav-justified > li > a {
	margin-right: 0;
	border-radius: 4px;
}
.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
	border: 1px solid #ddd;
}
.nav-pills > li {
	float: left;
}
.nav-pills > li > a {
	border-radius: 4px;
}
.nav-pills > li + li {
	margin-left: 2px;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
	color: #fff;
	background-color: #337ab7;
}
.nav-stacked > li {
	float: none;
}
.nav-stacked > li + li {
	margin-top: 2px;
	margin-left: 0;
}
.nav-justified {
	width: 100%;
}
.nav-justified > li {
	float: none;
}
.nav-justified > li > a {
	margin-bottom: 5px;
	text-align: center;
}
.nav-justified > .dropdown .dropdown-menu {
	top: auto;
	left: auto;
}
.nav-tabs-justified {
	border-bottom: 0;
}
.nav-tabs-justified > li > a {
	margin-right: 0;
	border-radius: 4px;
}
.nav-tabs-justified > .active > a,
.nav-tabs-justified > .active > a:hover,
.nav-tabs-justified > .active > a:focus {
	border: 1px solid #ddd;
}
.tab-content > .tab-pane {
	display: none;
	visibility: hidden;
}
.tab-content > .active {
	display: block;
	visibility: visible;
}*/

.search-wrapper-light {
    border-bottom: 2px solid rgba(255,255,255,0.5);
    background: none;
    border-radius: 0;
    margin-left: 5px;
    margin-right: 5px;width: 80%;
}

.search-wrapper-light input, .search-wrapper-light input::-webkit-input-placeholder {
    color: #ffffff;   
}.bar.item-input-inset .item-input-wrapper input {
    width: 100%;
}
 /*-------------Validation--------------*/

.item.has-error  {
  border-color: rgba(169, 68, 66,0.6);

}

.item .has-error:focus {
  border-color: #843534;
 
}
.errormsg{color:#a94442}