<ion-view view-title="昵称" style="top:0;bottom :0;left :0;right :0;width:100%" hide-tabs >
    <ion-nav-bar class="bar bar-health bar-balanced bar-stable  ">
        <ion-nav-back-button class="button-clear" >
            返回
        </ion-nav-back-button>
        
    </ion-nav-bar>
  
    <ion-content class="stable-bg">
        <ion-list>
            <ion-item class=" item-divider item-borderless stable-bg">
            </ion-item>
            <label class="item item-input" >
                <span class="input-label">昵称</span>
                <input type="text" ng-model="user.name">
              
            </label>
            
        </ion-list>
    </ion-content>
</ion-view>
