<ion-modal-view class="has-header" style="width:100%;height:100%;left:0;right:0;top:0;bottom:0">

    <div class="bar bar-header item-input-inset bar-balanced startbar">
        <div class="item-input-wrapper">
            <i class="fa fa-search placeholder-icon" style="color :#3fb869;font-size :18px;"></i>
            <input type="text" id="searchbar"
                   placeholder="搜索"
                   ng-model="search"
                   class="full-width"
                   ng-init="">
            <i ng-show="search.length"
                    class=" ion-android-close input-button"
                    ng-click="search = ''"></i>
        </div>
        <button class="button button-clear" ng-click="closeModal()" >
        取消
        </button>
       
        
    </div>
    <ion-content class="light-bg has-header">
        <ion-item class="item-icon-left " ng-show="search.length" ng-repeat="item in dishs | filter:{ name: search } as results" style=" font-size:14px;">

            <div class="row" style="justify-content:space-between">
                <div class="col"> {{item.name}}</div>

            </div>
        </ion-item>
        <ion-item class="item-borderless" ng-if="results.length == 0">
            <div class="padding mid">
            {{ message() }}</div>

        </ion-item>
        </ion-content>



</ion-modal-view>

