<ion-modal-view style="height:auto" >

    <div class="bar bar-header stable-border row mid green" style="height:30px;font-size:14px;">
        <i class="icon ion-ios-arrow-left col-10 " ng-click="closeModal()" style="font-size:20px;"></i>
            <div class="col-80 ">添加饮食</div>
        
        </div>
    
    <ion-content class="stable-bg"  overflow-scroll="true" style="overflow: hidden;margin-top:30px;height:auto">
        <div class="padding" style="position:relative">
            <div class="item item-thumbnail-left item-borderless stable-bg" href="#">
                <img src="{{nowdish.face}}">
                <h3>{{nowdish.name}}</h3>
                <a class="row" href="#/tab/book/dish/{{nowdish.id}}" style=" text-decoration :none ;" ng-click="closeModal()">

                    <p class="row col-bottom " style="color:#969696;font-size:12px;">
                        <i class="icon ion-ios-arrow-right col-10 "></i>
                        查看详情
                    </p>
                    </a>
</div>
      </div>
        <div class="light-bg row green" style="position:relative;margin-top:-10px;">
            <div class="col col-33 mid " ng-class="isunit(0)?'green-bg':'green'">{{gram }}  克</div>
            <div class=" col col-25 mid " ng-class="isunit(1)?'green-bg':'green'">{{set}}  份</div>
            <div class="col col-50 mid" >{{nowqk | number:1}}  千卡</div>
        </div>
        <div class="row  mid" style="margin:0px;position:fixed;padding-bottom:0px;bottom:0px;">
            <div class="col col-75 " style="margin-top:5px;padding:0px;">
                <div class="rowline light-bg" style="margin-bottom:-5px;border-radius:5px;">
                    <div class="row " style="padding:0px;">
                        <div class="col calculator" ng-click="calculate(1)">1</div>
                        <div class="col calculator" ng-click="calculate(2)">2</div>
                        <div class="col calculator" ng-click="calculate(3)">3</div>
                    </div>

                    <div class="row" style="padding:0px;">
                        <div class="col calculator" ng-click="calculate(4)">4</div>
                        <div class="col calculator" ng-click="calculate(5)">5</div>
                        <div class="col calculator" ng-click="calculate(6)">6</div>
                    </div>

                    <div class="row" style="padding:0px;">
                        <div class="col calculator" ng-click="calculate(7)">7</div>
                        <div class="col calculator" ng-click="calculate(8)">8</div>
                        <div class="col calculator" ng-click="calculate(9)">9</div>
                    </div>

                    <div class="row" style="padding:0px;">
                        <div class="col calculator" ng-click="point()">.</div>
                        <div class="col calculator" ng-click="calculate(0)">0</div>
                        <div class="col calculator" ng-click="clear()"><i class="icon ion-ios-arrow-left "></i></div>
                    </div>




                </div>
            </div>
            <div class="col col-25">
                <div class="col light-bg  green" style="border-radius:5px;margin:5px;padding: 5px 0 5px 0;" ng-click="setunit(0)">克</div>
                <div class="col light-bg  green" style="border-radius:5px;margin:5px;padding:5px 0 5px 0" ng-click="setunit(1)">份</div>
                <div class="col  green-bg" style=" border-radius:5px;margin:5px;padding:5px 0 5px 0" ng-click="adddish()">
                    确定
                </div>
            </div>
        </div>
</ion-content>
   


</ion-modal-view>
