<ion-view view-title="注册" style="top:0;bottom :0;left :0;right :0;width:100%" hide-tabs>
    <ion-nav-bar class="bar bar-health bar-balanced bar-stable  ">
      
    </ion-nav-bar>
    <ion-nav-buttons side="right">
        <button class="button" ng-click="tologin()">
            登录
        </button>
    </ion-nav-buttons>
    <ion-content class="stable-bg">
        <form name="signupForm" ng-submit="signupForm()" novalidate>
            <ion-item class="item-divider"></ion-item>
            <!-- USERNAME -->
            <label class="item item-input-inset" ng-class="{ 'has-error' : signupForm.username.$invalid && !signupForm.username.$pristine }">
                <span class="input-label">账号</span>
                <input type="text" name="username" class="form-control" ng-model="user.username" ng-minlength="3" ng-maxlength="10" required>
                <i ng-show="user.username.length" class=" ion-android-close input-button" ng-click="clearname()"></i>
             </label>
            <div ng-show="signupForm.username.$error.maxlength" class="padding errormsg">账号太长</div>
            <div ng-show="signupForm.username.$error.minlength" class="padding errormsg">账号太短</div>
           
            <!-- PASSWORD -->
            <label class="item item-input-inset" ng-class="{ 'has-error' : signupForm.password.$invalid && !signupForm.password.$pristine }">
                <span class="input-label">密码</span>
                <input type="password" name="password" class="form-control" ng-model="user.password" required ng-minlength="6" ng-maxlength="16">
                <i ng-show="user.password.length" class=" ion-android-close input-button" ng-click="clearpas()"></i>
            </label>
            <div ng-show="signupForm.password.$error.minlength" class="padding errormsg">密码太短</div>
            <div ng-show="signupForm.password.$error.maxlength" class="padding errormsg">密码太长</div>
           

            <!-- REPEATPASSWORD -->
            <label class="item item-input-inset" ng-class="{ 'has-error' :  error }">
                <span class="input-label">重复密码</span>
                <input type="password" ng-change="same()" name="repassword" class="form-control" ng-model="user.repassword" ng-minlength="6" ng-maxlength="16" required>
                <i ng-show="user.repassword.length" class=" ion-android-close input-button" ng-click="clearrepas()"></i>
             </label>
            <div ng-show="error" class="padding errormsg">密码不相同</div>

            <div class="padding">

            </div>
        </form>

        <div class="padding">
            <button class="button button-block button-balanced" ng-click="signIn(user)">
                注册
            </button>
            
        </div>
    </ion-content>
</ion-view>
 
