<ion-view view-title="生日" style="top:0;bottom :0;left :0;right :0;width:100%" hide-tabs>
    <ion-nav-bar class="bar-health bar-balanced bar-stable  bar ">
        <ion-nav-back-button class="button-clear">
            返回
        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-content class="stable-bg">
        <ion-list>

            <onezone-datepicker datepicker-object="onezoneDatepicker">
               
            </onezone-datepicker>
           
        </ion-list>
    </ion-content>
</ion-view>
