<ion-view view-title="性别" style="top:0;bottom :0;left :0;right :0;width:100%" hide-tabs>
    <ion-nav-bar class="bar-health bar-balanced bar-stable  bar ">
     
        <ion-nav-back-button class="button-clear">
            返回
        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-content class="stable-bg">
        <div class="list">
       
            <ion-radio ng-repeat="item in gender"
                       ng-value="item.value"
                       ng-model="data.gender">
                {{ item.text }}
            </ion-radio>
            
            </div>
</ion-content>
</ion-view>
